#####################################################################
# Akamai API Credential

client_token  = "akab-xxxxxxxxxxxxxxx"
client_secret = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
access_token  = "akab-xxxxxxxxxxxxxxxxxx"
host = "https://akab-xxxxxxxxxxxxxxxxxxxxxx.luna.akamaiapis.net"


#####################################################################
# For Partner Only
accountSwitchKey = ""